<div>
  <!-- top --->
  <div class="top">
    <div class="top-picture"></div>
    <div class="top-message">
      <h1>health_conve</h1>
      <p>コンビニ食品を健康的に選択</p>
      <p>自分の気になる成分からメイン食品とそれに合うプラス1品を提案します。</p>
    </div>
    <div class="top-button">
      <div class="login">
        <%= link_to t('.login'), login_path, class: 'btn-square-shadow' %>
      </div>
      <div class="guest">
        <%= link_to t('.guest_login'), '#', class: 'btn-square-shadow' %>
      </div>
    </div>
  </div>

  <!-- concept --->
  <section class="consept inner container">
    <h2 class="section-title">まずは自分が控えたい成分を選択</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card concept-card h-100 mt-md-10">
            <%= image_tag("sugar-pasta.jpg" ) %>
          <div class="card-body">
            <h5 class="card-title">炭水化物</h5>
            <p class="card-text">エネルギーとして消費されなかった糖質は中性脂肪として蓄積され、肥満や生活習慣病の原因に。</p>
          </div>
        </div>
      </div>
      <div class="col mt-sm-1">
        <div class="card h-100">
          <%= image_tag("lipid.jpg") %>
          <div class="card-body">
            <h5 class="card-title">脂質</h5>
            <p class="card-text">血液中の中性脂肪と悪玉コレステロールであるLDL-コレステロールを増加させる一方、善玉コレステロールであるHDL-コレステロールを減少させ、脂質異常症などの様々な生活習慣病の原因
            に。</p>
          </div>
        </div>
      </div>
      <div class="col mt-sm-1">
        <div class="card h-100">
          <%= image_tag("salt.jpg") %>
          <div class="card-body">
            <h5 class="card-title">塩分</h5>
            <p class="card-text">血液中の塩分濃度が高くなり、それを下げるため、血液量が増えて血管がパンパンになります。大量の血液を流すために血管壁に高い圧力が加わるようになり、高血圧の原因に。</p>
          </div>
        </div>
      </div>
    </div>
  </section>









  <section class="consept inner container">
    <h2 class="section-title">食べたいジャンルを選択しよう</h2>
  </section>

  <section class="consept inner container">
    <h2 class="section-title">自分の選択した条件にマッチしたコンビニ食品の組み合わせを表示</h2>
  </section>

</div>