<h1 class="text-center my-5">組み合わせ詳細</h1>
<div class="row justify-content-center text-center">
  <div class="col-8">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="py-3 text-info">Image</h5>
        <div class="food_combi_main">
          <p>メイン</p>
          <% if @food.main.image.attached? %>
            <%= image_tag @food.main.image %>
          <% else %>
            <%= image_pack_tag("media/images/noimage.jpg") %>
          <% end %>
        </div>
        <h5 class="text-info">Name</h5>
          <%= @food.main.name %>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-body">
        <h5 class="py-3 text-info">Image</h5>
        <div class="food_combi_main">
          <p>メイン</p>
          <% if @food.sub.image.attached? %>
            <%= image_tag @food.sub.image %>
          <% else %>
            <%= image_pack_tag("media/images/noimage.jpg") %>
          <% end %>
        </div>
        <h5 class="text-info">Name</h5>
          <%= @food.sub.name %>
      </div>
    </div>
    <ul>
      <li class='list-inline-item'>
        <%= button_to "編集", edit_admin_food_combination_path(@food), method: :get, class: "btn btn-success" %>
      </li>
      <li class='list-inline-item'>
        <%= button_to "削除", admin_food_combination_path(@food), method: :delete, data: { confirm: '本当に削除してもよろしいですか？'}, class: "btn btn-danger" %>
      </li>
    </ul>
  </div>
</div>