<% content_for(:title, t('.title')) %>
<div class="user_session">
  <div class="row contact container">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
    <div class="section-title">
      <h1>ユーザー登録</h1>
    </div>
      <%= form_with model: @user, local: true do |f| %>

        <div class="form-group">
          <div class="contact-item-title">
            <%= f.label :name %>
          </div>
          <div class="contact-item-input">
            <%= f.text_field :name, class: 'form-control' %>
            <%= render 'shared/error_messages', object: f.object, text: :name %>
          </div>
        </div>
        <div class="form-group">
        <div class="contact-item-title">
          <%= f.label :email %>
        </div>
        <div class="contact-item-input">
          <%= f.email_field :email, class: 'form-control' %>
          <%= render 'shared/error_messages', object: f.object, text: :email %>
        </div>
        </div>
        <div class="form-group">
        <div class="contact-item-title">
          <%= f.label :password %>
        </div>
        <div class="contact-item-input">
          <%= f.password_field :password, class: 'form-control' %>
          <%= render 'shared/error_messages', object: f.object, text: :password %>
        </div>
        </div>
        <div class="form-group">
        <div class="contact-item-title">
          <%= f.label :password_confirmation %>
        </div>
        <div class="contact-item-input">
          <%= f.password_field :password_confirmation, class: 'form-control' %>
          <%= render 'shared/error_messages', object: f.object, text: :password_confirmation %>
        </div>
        </div>
        <div class="contact-button">
          <%= f.submit t('defaults.register'), class: 'btn-square-shadow login' %>
        </div>
      <% end %>
      <div class='contact-text-bottom'>
        <%= link_to 'ログインページへ', login_path, class: 'contact-text-user' %>
      </div>
    </div>
  </div>
</div>
