<% if @sugar && @lipid && @component_params.size == 2 && @noodle %>
  <div class="food_select_back">
    <%= render 'button' %>
    <div class="food_select container" id='js-normalselect' style="display: block">
      <% @foods.each do |food| %>
        <% if food.main.genre == 'noodle' && food.main.sugar + food.sub.sugar < 75 && food.main.lipid + food.sub.lipid < 25  %>
          <div class="food_combi_contain">
            <%= render 'details', food: food %>
            <div class="food_graph">
              <% chart = [
                { name: '糖質(g)', data: food.get_sugar },
                { name: '脂質(g)', data: food.get_lipid }
              ] %>
              <%= bar_chart chart, colors: ["#185ADB", "#FFE227"], min: 0, max: 100 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="food_select container" id="js-ngselect" style="display: none">
      <% @foods.each do |food| %>
        <% if food.main.genre == 'noodle' && food.main.sugar + food.sub.sugar > 75 && food.main.lipid + food.sub.lipid > 25  %>
          <div class="food_combi_contain">
            <%= render 'ngdetails', food: food %>
            <div class="food_graph">
              <% chart = [
                { name: '糖質(g)', data: food.get_sugar },
                { name: '脂質(g)', data: food.get_lipid }
              ] %>
              <%= bar_chart chart, colors: ["#185ADB", "#FFE227"], min: 0, max: 100 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<% elsif @sugar && @lipid && @component_params.size == 2 && @rice %>
  <div class="food_select_back">
    <%= render 'button' %>
    <div class="food_select container" id='js-normalselect' style="display: block">
      <% @foods.each do |food| %>
        <% if food.main.genre == 'rice' && food.main.sugar + food.sub.sugar < 75 && food.main.lipid + food.sub.lipid < 25  %>
          <div class="food_combi_contain">
            <%= render 'details', food: food %>
            <div class="food_graph">
              <% chart = [
                { name: '糖質(g)', data: food.get_sugar },
                { name: '脂質(g)', data: food.get_lipid }
              ] %>
              <%= bar_chart chart, colors: ["#185ADB", "#FFE227"], min: 0, max: 100 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="food_select container" id="js-ngselect" style="display: none">
      <% @foods.each do |food| %>
        <% if food.main.genre == 'rice' && food.main.sugar + food.sub.sugar > 75 && food.main.lipid + food.sub.lipid > 25  %>
          <div class="food_combi_contain">
            <%= render 'ngdetails', food: food %>
            <div class="food_graph">
              <% chart = [
                { name: '糖質(g)', data: food.get_sugar },
                { name: '脂質(g)', data: food.get_lipid }
              ] %>
              <%= bar_chart chart, colors: ["#185ADB", "#FFE227"], min: 0, max: 100 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<% elsif @lipid && @salt && @component_params.size == 2 && @noodle %>
  <div class="food_select_back">
    <%= render 'button' %>
    <div class="food_select container" id='js-normalselect' style="display: block">
      <% @foods.each do |food| %>
        <% if food.main.genre == 'noodle' && food.main.lipid + food.sub.lipid < 25 && food.main.salt + food.sub.salt < 3.1  %>
          <div class="food_combi_contain">
            <%= render 'details', food: food %>
            <div class="food_graph">
              <% chart = [
                { name: '脂質(g)', data: food.get_lipid },
                { name: '塩分(g)', data: food.get_salt }
              ] %>
              <%= bar_chart chart, colors: ["#FFE227", "#b00"], min: 0, max: 100 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="food_select container" id="js-ngselect" style="display: none">
      <% @foods.each do |food| %>
        <% if food.main.genre == 'noodle' && food.main.lipid + food.sub.lipid > 25 && food.main.salt + food.sub.salt > 3.1  %>
          <div class="food_combi_contain">
            <%= render 'ngdetails', food: food %>
            <div class="food_graph">
              <% chart = [
                { name: '脂質(g)', data: food.get_lipid },
                { name: '塩分(g)', data: food.get_salt }
              ] %>
              <%= bar_chart chart, colors: ["#FFE227", "#b00"], min: 0, max: 100 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<% elsif @lipid && @salt && @component_params.size == 2 && @rice %>
  <div class="food_select_back">
    <%= render 'button' %>
    <div class="food_select container" id='js-normalselect' style="display: block">
      <% @foods.each do |food| %>
        <% if food.main.genre == 'rice' && food.main.lipid + food.sub.lipid < 25 && food.main.salt + food.sub.salt < 3.1  %>
          <div class="food_combi_contain">
            <%= render 'details', food: food %>
            <div class="food_graph">
              <% chart = [
                { name: '脂質(g)', data: food.get_lipid },
                { name: '塩分(g)', data: food.get_salt }
              ] %>
              <%= bar_chart chart, colors: ["#FFE227", "#b00"], min: 0, max: 100 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="food_select container" id="js-ngselect" style="display: none">
      <% @foods.each do |food| %>
        <% if food.main.genre == 'rice' && food.main.lipid + food.sub.lipid > 25 && food.main.salt + food.sub.salt > 3.1  %>
          <div class="food_combi_contain">
            <%= render 'ngdetails', food: food %>
            <div class="food_graph">
              <% chart = [
                { name: '脂質(g)', data: food.get_lipid },
                { name: '塩分(g)', data: food.get_salt }
              ] %>
              <%= bar_chart chart, colors: ["#FFE227", "#b00"], min: 0, max: 100 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<% elsif @sugar && @salt && @component_params.size == 2 && @noodle %>
  <div class="food_select_back">
    <%= render 'button' %>
    <div class="food_select container" id='js-normalselect' style="display: block">
      <% @foods.each do |food| %>
        <% if food.main.genre == 'noodle' && food.main.sugar + food.sub.sugar < 75 && food.main.salt + food.sub.salt < 3.1  %>
          <div class="food_combi_contain">
            <%= render 'details', food: food %>
            <div class="food_graph">
              <% chart = [
                { name: '糖質(g)', data: food.get_sugar },
                { name: '塩分(g)', data: food.get_salt }
              ] %>
              <%= bar_chart chart, colors: ["#185ADB", "#b00"], min: 0, max: 100 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="food_select container" id="js-ngselect" style="display: none">
      <% @foods.each do |food| %>
        <% if food.main.genre == 'noodle' && food.main.sugar + food.sub.sugar > 25 && food.main.salt + food.sub.salt > 3.1  %>
          <div class="food_combi_contain">
            <%= render 'ngdetails', food: food %>
            <div class="food_graph">
              <% chart = [
                { name: '糖質(g)', data: food.get_sugar },
                { name: '塩分(g)', data: food.get_salt }
              ] %>
              <%= bar_chart chart, colors: ["#185ADB", "#b00"], min: 0, max: 100 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<% elsif @sugar && @salt && @component_params.size == 2 && @rice %>
  <div class="food_select_back">
    <%= render 'button' %>
    <div class="food_select container" id='js-normalselect' style="display: block">
      <% @foods.each do |food| %>
        <% if food.main.genre == 'rice' && food.main.sugar + food.sub.sugar < 75 && food.main.salt + food.sub.salt < 3.1  %>
          <div class="food_combi_contain">
            <%= render 'details', food: food %>
            <div class="food_graph">
              <% chart = [
                { name: '糖質(g)', data: food.get_sugar },
                { name: '塩分(g)', data: food.get_salt }
              ] %>
              <%= bar_chart chart, colors: ["#185ADB", "#b00"], min: 0, max: 100 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="food_select container" id="js-ngselect" style="display: none">
      <% @foods.each do |food| %>
        <% if food.main.genre == 'rice' && food.main.sugar + food.sub.sugar > 25 && food.main.salt + food.sub.salt > 3.1  %>
          <div class="food_combi_contain">
            <%= render 'ngdetails', food: food %>
            <div class="food_graph">
              <% chart = [
                { name: '糖質(g)', data: food.get_sugar },
                { name: '塩分(g)', data: food.get_salt }
              ] %>
              <%= bar_chart chart, colors: ["#185ADB", "#b00"], min: 0, max: 100 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>




<% elsif @sugar && @lipid && @salt && @noodle %>
  <div class="food_select_back">
    <%= render 'button' %>
    <div class="food_select container" id='js-normalselect' style="display: block">
      <% @foods.each do |food| %>
        <% if food.main.genre == 'noodle' && food.main.sugar + food.sub.sugar < 75 && food.main.lipid + food.sub.lipid < 25 && food.main.salt + food.sub.salt < 3.1 %>
          <div class="food_combi_contain">
            <%= render 'details', food: food %>
            <div class="food_graph">
              <% chart = [
                { name: '糖質(g)', data: food.get_sugar },
                { name: '脂質(g)', data: food.get_lipid },
                { name: '塩分(g)', data: food.get_salt }
              ] %>
              <%= bar_chart chart, colors: ["#185ADB", "#FFE227", "#b00"], min: 0, max: 100 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="food_select container" id="js-ngselect" style="display: none">
      <% @foods.each do |food| %>
        <% if food.main.genre == 'noodle' && food.main.sugar + food.sub.sugar > 75 && food.main.lipid + food.sub.lipid > 25 && food.main.salt + food.sub.salt > 3.1 %>
          <div class="food_combi_contain">
            <%= render 'ngdetails', food: food %>
            <div class="food_graph">
              <% chart = [
                { name: '糖質(g)', data: food.get_sugar },
                { name: '脂質(g)', data: food.get_lipid },
                { name: '塩分(g)', data: food.get_salt }
              ] %>
              <%= bar_chart chart, colors: ["#185ADB", "#FFE227", "#b00"], min: 0, max: 100 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<% elsif @sugar && @lipid && @salt && @rice %>
  <div class="food_select_back">
    <%= render 'button' %>
    <div class="food_select container" id='js-normalselect' style="display: block">
      <% @foods.each do |food| %>
        <% if food.main.genre == 'rice' && food.main.sugar + food.sub.sugar < 75 && food.main.lipid + food.sub.lipid < 25 && food.main.salt + food.sub.salt < 3.1 %>
          <div class="food_combi_contain">
            <%= render 'details', food: food %>
            <div class="food_graph">
              <% chart = [
                { name: '糖質(g)', data: food.get_sugar },
                { name: '脂質(g)', data: food.get_lipid },
                { name: '塩分(g)', data: food.get_salt }
              ] %>
              <%= bar_chart chart, colors: ["#185ADB", "#FFE227", "#b00"], min: 0, max: 100 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="food_select container" id="js-ngselect" style="display: none">
      <% @foods.each do |food| %>
        <% if food.main.genre == 'rice' && food.main.sugar + food.sub.sugar > 75 && food.main.lipid + food.sub.lipid > 25 && food.main.salt + food.sub.salt > 3.1 %>
          <div class="food_combi_contain">
            <%= render 'ngdetails', food: food %>
            <div class="food_graph">
              <% chart = [
                { name: '糖質(g)', data: food.get_sugar },
                { name: '脂質(g)', data: food.get_lipid },
                { name: '塩分(g)', data: food.get_salt }
              ] %>
              <%= bar_chart chart, colors: ["#185ADB", "#FFE227", "#b00"], min: 0, max: 100 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<% end %>