<% if @lipid && @component_params.size == 1 && @noodle %>
  <div class="food_select_back" id='tab'>
    <%= render 'button' %>
    <div class="food_select container" id='js-normalselect' style="display: block">
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">脂質25g以下の組み合わせ</p>    
      </div>
      <% @foods.each do |food| %>
        <% if food.main.genre == 'noodle' && food.main.lipid + food.sub.lipid <= 25 %>
          <div class="food_combi_contain">
            <%= render 'details', food: food %>
            <div class="food_graph">
              <% chart = [
                { name: '脂質(g)', data: food.get_lipid }
              ] %>
              <%= bar_chart chart, colors: ["#FFE227", "#666"], min: 0, max: 100 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="food_select container" id="js-ngselect" style="display: none">
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">脂質26g以上の組み合わせ</p>    
      </div>
      <% @foods.each do |food| %>
        <% if food.main.genre == 'noodle' && food.main.lipid + food.sub.lipid >= 26 %>
          <div class="food_combi_contain">
            <%= render 'ngdetails', food: food %>
            <div class="food_graph">
              <% chart = [
                { name: '脂質(g)', data: food.get_lipid }
              ] %>
              <%= bar_chart chart, colors: ["#FFE227", "#666"], min: 0, max: 100 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<% elsif @lipid && @component_params.size == 1 && @rice %>
  <div class="food_select_back" id='tab'>
    <%= render 'button' %>
    <div class="food_select container" id='js-normalselect' style="display: block">
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">脂質25g以下の組み合わせ</p>    
      </div>
      <% @foods.each do |food| %>
        <% if food.main.genre == 'rice' && food.main.lipid + food.sub.lipid <= 25 %>
          <div class="food_combi_contain">
            <%= render 'details', food: food %>
            <div class="food_graph">
              <% chart = [
                { name: '脂質(g)', data: food.get_lipid }
              ] %>
              <%= bar_chart chart, colors: ["#FFE227", "#666"], min: 0, max: 100 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="food_select container" id="js-ngselect" style="display: none">
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">脂質26g以上の組み合わせ</p>    
      </div>
      <% @foods.each do |food| %>
        <% if food.main.genre == 'rice' && food.main.lipid + food.sub.lipid >= 26 %>
          <div class="food_combi_contain">
            <%= render 'ngdetails', food: food %>
            <div class="food_graph">
              <% chart = [
                { name: '脂質(g)', data: food.get_lipid }
              ] %>
              <%= bar_chart chart, colors: ["#FFE227", "#666"], min: 0, max: 100 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
