<% if @salt.nil? %>

<% elsif @salt && @component_params.size == 1 && @noodle %>
<div class="food_select_back">
  <h2>塩分、麺類</h2>
  <div class="food_select container">
    <% @foods.each do |food| %>
      <% if food.main.genre == 'noodle' %>
        <div class="food_combi_contain">
          <div class="food_combi_flex">
            <div class="food_combi_flex_inner">
              <div class="food_combi_menu_text">
                <div class="food_combi_title">組み合わせ</div>
                <div class="food_combi_menu_inner">
                  <div class="food_combi_main">
                    メイン：<%= food.main.name %>
                  </div>
                  <div class="food_combi_compo">×</div>
                  <div class="food_combi_sub">
                    プラス一品：<%= food.sub.name %>
                  </div>
                </div>
              </div>
              <div class="food_combi_text">
                <div class="food_combi_price">
                  組み合わせ価格： 税込<%= food.prices %>円
                </div>
                <div class="food_combi_price">
                  総カロリー： <%= food.main.calorie + food.sub.calorie %> cal
                </div>
              </div>
            </div>
          </div>
          <div class="food_graph">
            <%# subs = Sub.where(id: food.main_id).pluck(:name, :sugar) %>
            <% @chart = [
              { data: food.salt_combination }
            ] %>
            <%= bar_chart @chart, colors: ["#b00", "#666"], min: 0, max: 100 %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<% elsif @salt && @component_params.size == 1 && @rice %>
<h2>塩分、ご飯類</h2>
<div class="food">
  <% @foods.each do |food| %>
    <% if food.main.genre == 'rice' %>
      <div class="food_flex">
        <div class="main">
          <%= food.main.name %>
        </div>
        <div class="sub">
          <%= food.sub.name %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<% elsif @salt && @component_params.size == 1 && @bread %>
<h2>塩分、パン類</h2>
<% elsif @salt && @component_params.size == 1 && @snack %>
<h2>塩分、お菓子類</h2>
<% end %>