<% if @sugar && @component_params.size == 1 && @noodle %> 
  <div class="food_combination" id='tab'>
    <div class="food_select container">
      <%= render 'button' %>
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">炭水化物81g以上の組み合わせ</p>    
      </div>
      <% @foods.each do |food| %>
        <% if food.main.genre == 'noodle' && food.main.sugar + food.sub.sugar >= 81 %>
          <div class="food_combi_contain">
            <%= render 'details', food: food %>
            <div class="food_graph">
              <% chart = [
                { name: '炭水化物(g)', data: food.get_sugar }
              ] %>
              <%= bar_chart chart, colors: ["#185ADB", "#666"], min: 0, max: 100 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<% elsif @sugar && @component_params.size == 1 && @rice %>
  <div class="food_combination" id='tab'>
    <div class="food_select container">
      <%= render 'button' %> 
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">炭水化物81g以上の組み合わせ</p>    
      </div>
      <% @foods.each do |food| %>
        <% if food.main.genre == 'rice' && food.main.sugar + food.sub.sugar >= 81 %>
          <div class="food_combi_contain">
            <%= render 'details', food: food %>
            <div class="food_graph">
              <% chart = [
                { name: '炭水化物(g)', data: food.get_sugar }
              ] %>
              <%= bar_chart chart, colors: ["#185ADB", "#666"], min: 0, max: 100 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<% elsif @lipid && @component_params.size == 1 && @noodle %>
  <div class="food_combination" id='tab'>
    <div class="food_select container">
      <%= render 'button' %>
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">脂質26g以上の組み合わせ</p>    
      </div>
      <% @foods.each do |food| %>
        <% if food.main.genre == 'noodle' && food.main.lipid + food.sub.lipid >= 26 %>
          <div class="food_combi_contain">
            <%= render 'details', food: food %>
            <div class="food_graph">
              <% chart = [
                { name: '脂質(g)', data: food.get_lipid }
              ] %>
              <%= bar_chart chart, colors: ["#FFE227", "#666"], min: 0, max: 100 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<% elsif @lipid && @component_params.size == 1 && @rice %>
  <div class="food_combination" id='tab'>
    <div class="food_select container">
      <%= render 'button' %>  
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">脂質26g以上の組み合わせ</p>    
      </div>
      <% @foods.each do |food| %>
        <% if food.main.genre == 'rice' && food.main.lipid + food.sub.lipid >= 26 %>
          <div class="food_combi_contain">
            <%= render 'details', food: food %>
            <div class="food_graph">
              <% chart = [
                { name: '脂質(g)', data: food.get_lipid }
              ] %>
              <%= bar_chart chart, colors: ["#FFE227", "#666"], min: 0, max: 100 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<% elsif @salt && @component_params.size == 1 && @noodle %>
  <div class="food_combination" id='tab'>
    <div class="food_select container">
      <%= render 'button' %>
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">塩分3.1g以上の組み合わせ</p>    
      </div>
      <% @foods.each do |food| %>
        <% if food.main.genre == 'noodle' && food.main.salt + food.sub.salt >= 3.1 %>
          <div class="food_combi_contain">
            <%= render 'details', food: food %>
            <div class="food_graph">
              <% chart = [
                { name: '塩分(g)', data: food.get_salt }
              ] %>
              <%= bar_chart chart, colors: ["#b00", "#666"], min: 0, max: 100 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<% elsif @salt && @component_params.size == 1 && @rice %>
  <div class="food_combination" id='tab'>
    <div class="food_select container">
      <%= render 'button' %> 
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">塩分3.1g以上の組み合わせ</p>    
      </div>
      <% @foods.each do |food| %>
        <% if food.main.genre == 'rice' && food.main.salt + food.sub.salt >= 3.1 %>
          <div class="food_combi_contain">
            <%= render 'details', food: food %>
            <div class="food_graph">
              <% chart = [
                { name: '塩分(g)', data: food.get_salt }
              ] %>
              <%= bar_chart chart, colors: ["#b00", "#666"], min: 0, max: 100 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<% elsif @sugar && @lipid && @component_params.size == 2 && @noodle %>
  <div class="food_combination" id='tab'>
    <div class="food_select container">
      <%= render 'button' %> 
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">炭水化物81g以上の組み合わせ</p>
        <p class="food_combi_ngtext">or</p>
        <p class="food_combi_ngtext">脂質26g以上の組み合わせ</p>    
      </div>
      <% @foods.each do |food| %>
        <% if food.main.genre == 'noodle' && (food.main.sugar + food.sub.sugar >= 81 || food.main.lipid + food.sub.lipid >= 26)  %>
          <div class="food_combi_contain">
            <%= render 'details', food: food %>
            <div class="food_graph">
              <% chart = [
                { name: '炭水化物(g)', data: food.get_sugar },
                { name: '脂質(g)', data: food.get_lipid }
              ] %>
              <%= bar_chart chart, colors: ["#185ADB", "#FFE227"], min: 0, max: 100 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<% elsif @sugar && @lipid && @component_params.size == 2 && @rice %>
  <div class="food_combination" id='tab'>
    <div class="food_select container">
      <%= render 'button' %> 
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">炭水化物81g以上の組み合わせ</p>
        <p class="food_combi_ngtext">or</p>
        <p class="food_combi_ngtext">脂質26g以上の組み合わせ</p>    
      </div>
      <% @foods.each do |food| %>
        <% if food.main.genre == 'rice' && (food.main.sugar + food.sub.sugar >= 81 || food.main.lipid + food.sub.lipid >= 26)  %>
          <div class="food_combi_contain">
            <%= render 'details', food: food %>
            <div class="food_graph">
              <% chart = [
                { name: '炭水化物(g)', data: food.get_sugar },
                { name: '脂質(g)', data: food.get_lipid }
              ] %>
              <%= bar_chart chart, colors: ["#185ADB", "#FFE227"], min: 0, max: 100 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<% elsif @lipid && @salt && @component_params.size == 2 && @noodle  %>
  <div class="food_combination" id='tab'>
    <div class="food_select container">
      <%= render 'button' %> 
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">脂質26g以上の組み合わせ</p>
        <p class="food_combi_ngtext">or</p>
        <p class="food_combi_ngtext">塩分3.1g以上の組み合わせ</p>    
      </div>
      <% @foods.each do |food| %>
        <% if food.main.genre == 'noodle' && (food.main.lipid + food.sub.lipid >= 26 || food.main.salt + food.sub.salt >= 3.1)  %>
          <div class="food_combi_contain">
            <%= render 'details', food: food %>
            <div class="food_graph">
              <% chart = [
                { name: '脂質(g)', data: food.get_lipid },
                { name: '塩分(g)', data: food.get_salt }
              ] %>
              <%= bar_chart chart, colors: ["#FFE227", "#b00"], min: 0, max: 100 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<% elsif @lipid && @salt && @component_params.size == 2 && @rice  %>
  <div class="food_combination" id='tab'>
    <div class="food_select container">
      <%= render 'button' %> 
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">脂質26g以上の組み合わせ</p>
        <p class="food_combi_ngtext">or</p>
        <p class="food_combi_ngtext">塩分3.1g以上の組み合わせ</p>    
      </div>
      <% @foods.each do |food| %>
        <% if food.main.genre == 'rice' && (food.main.lipid + food.sub.lipid >= 26 || food.main.salt + food.sub.salt >= 3.1)  %>
          <div class="food_combi_contain">
            <%= render 'details', food: food %>
            <div class="food_graph">
              <% chart = [
                { name: '脂質(g)', data: food.get_lipid },
                { name: '塩分(g)', data: food.get_salt }
              ] %>
              <%= bar_chart chart, colors: ["#FFE227", "#b00"], min: 0, max: 100 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<% elsif @sugar && @salt && @component_params.size == 2 && @noodle  %>
  <div class="food_combination" id='tab'>
    <div class="food_select container">
      <%= render 'button' %> 
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">糖質81g以上の組み合わせ</p>
        <p class="food_combi_ngtext">or</p>
        <p class="food_combi_ngtext">塩分3.1g以上の組み合わせ</p>    
      </div>
      <% @foods.each do |food| %>
        <% if food.main.genre == 'noodle' && (food.main.sugar + food.sub.sugar >= 81 || food.main.salt + food.sub.salt >= 3.1)  %>
          <div class="food_combi_contain">
            <%= render 'details', food: food %>
            <div class="food_graph">
              <% chart = [
                { name: '炭水化物(g)', data: food.get_sugar },
                { name: '塩分(g)', data: food.get_salt }
              ] %>
              <%= bar_chart chart, colors: ["#185ADB", "#b00"], min: 0, max: 100 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<% elsif @sugar && @salt && @component_params.size == 2 && @rice  %>
  <div class="food_combination" id='tab'>
    <div class="food_select container">
      <%= render 'button' %> 
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">糖質81g以上の組み合わせ</p>
        <p class="food_combi_ngtext">or</p>
        <p class="food_combi_ngtext">塩分3.1g以上の組み合わせ</p>    
      </div>
      <% @foods.each do |food| %>
        <% if food.main.genre == 'rice' && (food.main.sugar + food.sub.sugar >= 81 || food.main.salt + food.sub.salt >= 3.1)  %>
          <div class="food_combi_contain">
            <%= render 'details', food: food %>
            <div class="food_graph">
              <% chart = [
                { name: '炭水化物(g)', data: food.get_sugar },
                { name: '塩分(g)', data: food.get_salt }
              ] %>
              <%= bar_chart chart, colors: ["#185ADB", "#b00"], min: 0, max: 100 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<% elsif @sugar && @lipid && @salt && @noodle  %>
  <div class="food_combination" id='tab'>
    <div class="food_select container">
      <%= render 'button' %> 
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">糖質81g以上の組み合わせ</p>
        <p class="food_combi_ngtext">or</p>
        <p class="food_combi_ngtext">脂質26g以上の組み合わせ</p>    
        <p class="food_combi_ngtext">or</p>    
        <p class="food_combi_ngtext">塩分3.1g以上の組み合わせ</p>   
      </div>
      <% @foods.each do |food| %>
        <% if food.main.genre == 'noodle' && (food.main.sugar + food.sub.sugar >= 81 || food.main.lipid + food.sub.lipid >= 25 || food.main.salt + food.sub.salt >= 3) %>
          <div class="food_combi_contain">
            <%= render 'details', food: food %>
            <div class="food_graph">
              <% chart = [
                { name: '炭水化物(g)', data: food.get_sugar },
                { name: '脂質(g)', data: food.get_lipid },
                { name: '塩分(g)', data: food.get_salt }
              ] %>
              <%= bar_chart chart, colors: ["#185ADB", "#FFE227", "#b00"], min: 0, max: 100 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<% elsif @sugar && @lipid && @salt && @rice  %>
  <div class="food_combination" id='tab'>
    <div class="food_select container">
      <%= render 'button' %> 
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">糖質81g以上の組み合わせ</p>
        <p class="food_combi_ngtext">or</p>
        <p class="food_combi_ngtext">脂質26g以上の組み合わせ</p>    
        <p class="food_combi_ngtext">or</p>    
        <p class="food_combi_ngtext">塩分3.1g以上の組み合わせ</p>   
      </div>
      <% @foods.each do |food| %>
        <% if food.main.genre == 'rice' && (food.main.sugar + food.sub.sugar >= 81 || food.main.lipid + food.sub.lipid >= 25 || food.main.salt + food.sub.salt >= 3) %>
          <div class="food_combi_contain">
            <%= render 'details', food: food %>
            <div class="food_graph">
              <% chart = [
                { name: '炭水化物(g)', data: food.get_sugar },
                { name: '脂質(g)', data: food.get_lipid },
                { name: '塩分(g)', data: food.get_salt }
              ] %>
              <%= bar_chart chart, colors: ["#185ADB", "#FFE227", "#b00"], min: 0, max: 100 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
<div id="js-scroll-fadein" class="js-scroll-fadein arrow overdose"></div>  
<%= javascript_pack_tag 'home/ng' %>