<% content_for(:title, t('.title')) %>
<div class="food-select-top">
<div class="food-select-inner container">
  <div class="select" id="tab">
    <div class="component" id="js-component">
      <div class="food-select-message">
        <p class='select_message_top'>気になる成分を選択して下さい</p>
        <p class='select_message_sub'>※複数選択できます。</p>
      </div>
      <div class="card select-card">
        <div class="row">
          <%= link_to "#", class: "button", data: {id: Tag.find_by(component: "sugar").id}, "data-turbolinks": false do %>
            <div class="example">
              <%= image_pack_tag("media/images/sugar-pasta.jpg", class: "w-100 select-img") %>
              <h2 class="text-select-sugar text-select" style="display: block;">炭水化物</h2>
              <h1 class="text-check" style="display: none;"></h1>
            </div>   
          <% end %>
        </div>
      </div>
      <div class="card select-card">
        <div class="row">
          <%= link_to "#", class: "button", data: {id: Tag.find_by(component: "lipid").id}, "data-turbolinks": false do %>
            <div class="example">
              <%= image_pack_tag("media/images/lipid.jpg", class: "w-100 select-img") %>
              <h2 class="text-select-lipid text-select" style="display: block;">脂質</h2>
              <h1 class="text-check" style="display: none;"></h1>
            </div>
          <% end %>
        </div>
      </div>
      <div class="card select-card">
        <div class="row">
          <%= link_to "#", class: "button", data: {id: Tag.find_by(component: "salt").id}, "data-turbolinks": false do %>
            <div class="example">
              <%= image_pack_tag("media/images/salt.jpg", class: "w-100 select-img") %>
              <h2 class="text-select-salt text-select" style="display: block;">塩分</h2>
              <h1 class="text-check" style="display: none;"></h1>
            </div>   
          <% end %>
        </div>
      </div>
      <div class="food_select_btn">
        <button type="button" class="btn btn-primary btn-secondary" id="js-button">食べたいジャンルを選ぶ
        </button>
      </div>
    </div>
    <div class="genre" id="js-genre">
      <div class="food-select-message">
        <p class='select_message_top mb-xl-30 .mb-sm-10'>食べたいジャンルを選択してください</p>
        <p class='select_message_sub mb-xl-30 .mb-sm-10'>※一つだけ選択してください。</p>
      </div>
      <div class="card select-card">
        <div class="row">
          <%= link_to '#', class: "button", id: 'js-noodle',  data: {id: Tag.find_by(genre: "noodle").id}, "data-turbolinks": false do %>
            <div class="example">
              <%= image_pack_tag("media/images/noodle.jpg", class: "w-100 select-img") %>
              <h2 class="text-select-noodle" id="js-sugar-text" style="display: block;">麺類</h2>
              <h1 class="text-check" id="js-sugar-check" style="display: none;"></h1>
            </div>
          <% end %>
        </div>
      </div>
      <div class="card select-card">
        <div class="row">
          <%= link_to '#', class: "button", data: {id: Tag.find_by(genre: "rice").id}, "data-turbolinks": false do %>
            <div class="example">
              <%= image_pack_tag("media/images/rice.jpg", class: "w-100 select-img") %>
              <h2 class="text-select-rice" id="js-sugar-text" style="display: block;">ご飯類</h2>
              <h1 class="text-check" id="js-sugar-check" style="display: none;"></h1>
            </div>
          <% end %>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
</div>

<%= javascript_pack_tag 'home/select' %>