<%= form_with model: @main, url: mains_path, method: :post, local: true do |f| %>
  <div class="food_create">
    <div class="food_create_inner d-md-flex justify-content-center container">
      <div class="food_create_main">
          <h2 class="food_create_title">メイン</h2>
          <div class="food_create_form_box p-4">
            <div class="input-form">
              <%= f.label :image, class: "text-info" %>
              <%= f.file_field :image, class: "form-control food_create_image" %>
              <div id="js-main-image" class="text-center"></div>
              <div class="food_create_no_img_box text-center" style="display: block;" id= "js-no-img"><%= image_pack_tag("media/images/noimage.jpg", class: 'food_create_no_img') %></div>
              <%= render 'shared/error_messages', object: f.object, text: :image %>
            </div>
            <div class="food_create_form">
              <label class="food_create_label">
              <%= f.text_field :name, placeholder: "メイン食品名" %>
              </label>
              <%= render 'shared/error_messages', object: f.object, text: :name %>
            </div>
            <div class="food_create_form">
              <label class="food_create_label">
                <%= f.text_field :calorie, placeholder: "カロリー" %>
              </label>
              <span>cal</span>
              <%= render 'shared/error_messages', object: f.object, text: :calorie %>
            </div>
            <div class="food_create_form">
              <label class="food_create_label">
                <%= f.text_field :sugar, placeholder: "炭水化物" %>
              </label>
              <span>g</span>
              <%= render 'shared/error_messages', object: f.object, text: :sugar %>
            </div>
            <div class="food_create_form">
              <label class="food_create_label">
                <%= f.text_field :lipid, placeholder: "脂質" %>
              </label>
              <span>g</span>
              <%= render 'shared/error_messages', object: f.object, text: :lipid %>
            </div>
            <div class="food_create_form">
              <label class="food_create_label">
                <%= f.text_field :salt, placeholder: "塩分" %>
              </label>
              <span>g</span>
              <%= render 'shared/error_messages', object: f.object, text: :salt %>
            </div>
            <div class="input-form">
              <%= f.label :genre, class: "text-info" %><br>
              <%= f.select :genre, Main.genres.keys.to_a, {} %>
            </div>
          </div>
      </div>
      <div class="food_create_cross fs-2">x</div>
      <div class="food_create_sub">
      <h2 class="food_create_title">プラス一品</h2>
        <%= f.fields_for :subs do |sub| %>
        <div class="food_create_form_box p-4">
          <div class="input-form">
            <%= sub.label :image, class: "text-info" %>
            <%= sub.file_field :image, class: "form-control" %> 
            <div id="js-sub-image"></div>
          </div>
          <div class="food_create_form">
            <label class="food_create_label">
            <%= sub.text_field :name, placeholder: "プラス一品" %>
            </label>
            <%= render 'shared/error_messages', object: sub.object, text: :name %>
          </div>
          <div class="food_create_form">
            <label class="food_create_label">
            <%= sub.text_field :calorie, placeholder: "カロリー" %>
            </label>
            <span>cal</span>
            <%= render 'shared/error_messages', object: sub.object, text: :calorie %>
          </div>
          <div class="food_create_form">
            <label class="food_create_label">
            <%= sub.text_field :sugar, placeholder: "炭水化物" %>
            </label>
            <span>g</span>
            <%= render 'shared/error_messages', object: sub.object, text: :sugar %>
          </div>
          <div class="food_create_form">
            <label class="food_create_label">
            <%= sub.text_field :lipid, placeholder: "脂質" %>
            </label>
            <span>g</span>
            <%= render 'shared/error_messages', object: sub.object, text: :lipid %>
          </div>
          <div class="food_create_form">
            <label class="food_create_label">
            <%= sub.text_field :salt, placeholder: "塩分" %>
            </label>
            <span>g</span>
            <%= render 'shared/error_messages', object: sub.object, text: :salt %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="food_create_btn_inner">
    <%= f.submit '組み合わせを登録', class: "food_create_btn btn-primary shadow w-40" %>
  </div>
<% end %>

<%= javascript_pack_tag 'home/preview' %>