<tr>
  <td><%= main.id %></td>
  <td><%= main.name %></td>
  <td><%= main.image %></td>
  <td><%= main.calorie %></td>
  <td><%= main.sugar %></td>
  <td><%= main.lipid %></td>
  <td><%= main.salt %></td>
  <td> <%= button_to t("defaults.show"),  admin_main_path(main), method: :get, class: "btn btn-success" %></td>
  <td> <%= button_to t("defaults.delete"), edit_admin_main_path(main), method: :delete, class: "btn btn-danger" %></td>
</tr>