<h1 class="text-center my-5">メイン料理編集</h1>
<div class="row justify-content-center text-center">
  <div class="col-8">
    <div class="card text-center">
      <div class="card-body">
      <%= form_with model: @main, url:  admin_main_path(@main),  method: :patch, local: true do |f| %>
        <div class="form-group">
          <%= f.label :name, class: "text-info" %><br>
          <%= f.text_field :name, value: @main.name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :image, class: "text-info" %>
          <%= f.file_field :image, value: @main.image, class: "form-control" %> 
        </div>
        <div class="form-group">
          <%= f.label :genre, class: "text-info" %><br>
          <%= f.select :genre, Main.genres.keys.to_a, {} %>
        </div>
        <div class="form-group">
          <%= f.label :calorie, class: "text-info" %><br>
          <%= f.text_field :calorie, value: @main.calorie %>
        </div>
        <div class="form-group">
          <%= f.label :sugar, class: "text-info" %><br>
          <%= f.text_field :sugar, value: @main.sugar %>
        </div>
        <div class="form-group">
          <%= f.label :lipid, class: "text-info" %><br>
          <%= f.text_field :lipid, value: @main.lipid %>
        </div>
        <div class="form-group">
          <%= f.label :salt, class: "text-info" %><br>
          <%= f.text_field :salt, value: @main.salt %>
        </div>

        <div class="actions text-center">
          <%= f.submit "送信", class: "btn btn-primary" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>