<% content_for(:title, t('.title')) %>
<div class="login-page">
  <div class="row contact">
    <div class=" col-md-10 offset-md-1 col-lg-8 offset-lg-2">
    <div class="section-title">
      <h1>ログイン</h1>
    </div>
      <%= form_with url: login_path, local: true do |f| %>
        <div class="form-group">
          <div class="contact-item-title">
            <%= f.label :email, User.human_attribute_name(:email) %>
          </div>
          <div class="contact-item-input">
            <%= f.text_field :email, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <div class="contact-item-title">
            <%= f.label :password, User.human_attribute_name(:password) %>
          </div>
          <div class="contact-item-input">
            <%= f.password_field :password, class: 'form-control' %>
          </div>
        </div>
        <div class="contact-button">
          <%= f.submit t('.title'), class: 'btn-square-shadow login' %>
        </div>
      <% end %>
      <div class='contact-text-bottom'>
        <%= link_to t('.to_register_page'), new_user_path, class: 'contact-text-user' %>
      </div>
    </div>
  </div>
</div>