<h1 class="text-center my-5">サブ料理詳細</h1>
<div class="row justify-content-center text-center">
  <div class="col-8">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="py-3 text-info">Image</h5>
        <% if @sub.image.attached? %>
          <%= image_tag @sub.image, size: "300x300" %>
        <% end %>
        <h5 class="text-info">Name</h5>
          <%= @sub.name %>
      </div>
    </div>
    <ul>
      <li class='list-inline-item'>
        <%= button_to "編集", edit_admin_sub_path(@sub), method: :get, class: "btn btn-success" %>
      </li>
      <li class='list-inline-item'>
        <%= button_to "削除", admin_subs_path(@sub), method: :delete, data: { confirm: '本当に削除してもよろしいですか？'}, class: "btn btn-danger" %>
      </li>
    </ul>
  </div>
</div>
  <h5 class="text-info text-center">Review</h5>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" class="text-center">id</th>
        <th scope="col" class="text-center">name</th>
        <th scope="col" class="text-center">image</th>
        <th scope="col" class="text-center">calorie</th>
        <th scope="col" class="text-center">sugar</th>
        <th scope="col" class="text-center">lipid</th>
        <th scope="col" class="text-center">salt</th>
      </tr>
    </thead>
    <tbody>
      <%= render @sub %>
    </tbody>
  </table>
</table>